body {
	background: #454545;
	color: #eee;
	line-height: 1.7;
}

a {
	color: #eee;
	text-decoration: none;
}

.side-bar {
	float: left;
	width: 20%;
	position: fixed;
}

.side-bar > * {
	padding: 10px 20px;
}

.side-bar .nav a,
.side-bar .tag-list a {
	display: block;
	padding: 5px;
	color: #888;
	transition: color 200ms;
	-o-transition: color 200ms;
	-webkit-transition: color 200ms;
}

.side-bar .nav a:hover,
.side-bar .tag-list a {
	color: #eee;
}

.side-bar .nav a {
	font-weight: 700;
}

.main {
	float: right;
	width: 80%;
	color: #454545;
}

.header .logo {
	line-height: 1;
	border: 3px solid #eee;
	padding: 10px 20px;
	font-size: 30px;
	display: inline-block;
	margin-bottom: 10px;
}

.article-list, .article {
	margin-right: 30%;
	background: #fff;
	padding: 20px 30px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.article-list .item {
	margin-bottom: 25px;
}

.article-list .item .title, 
.article .title {
	color: #454545;
	font-size: 22px;
	font-weight: 700;
	
}

.article-list .item .status,
.article .status {
	font-size: 13px;
	color: #ccc;
	
} 

.article-list .item > *,
.article > * {
	margin: 10px 0;
}